#menu-top-bar{
    display:flex;
    /* justify-content: space-evenly; */
    width: 100%;
}

#menu-top-bar li{
    margin-left: 1rem;
}

#menu-top-bar li a{
    text-decoration: none;
    color: aliceblue;
}
#menu-top-bar li a:hover{
    text-decoration: none;
    color: rgb(1, 21, 39);
}

.top_gape{
    margin-top: .5rem;
}
.test_background{
    background-color: aqua !important;
}

#nav_bar_id_post.body{
    background-color: rebeccapurple;
}

.col-lg-3{
    margin-left: 2rem;
}