.home {
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.home-in {
    height: 100%;
    /* padding-top: 4%; */
    background-image: linear-gradient(to right,
            rgb(255, 255, 255, 1),
            rgb(255, 255, 255, 1),
            rgb(255, 255, 255, 1),
            rgb(255, 255, 255, .8),
            rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 1400px) {
    .home {
        background-image: none;
        background-color: rgb(233, 233, 233);
    }

    .home-in {
        background-image: none;
    }
}

#customnavbar {
    transition: top 0.3s;
}